secrets.json
appsettings.json
*.user
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.db
*.db-shm
*.db-wal
*.litedb
_ReSharper*/
*.[Rr]e[Ss]harper
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
Desktop.ini
*.log
*.txt